[submodule "bootcamp/prework-study-guide"] 
  path = prework-study-guide 
  url = git://url-of-source https://github.com/unnamedmistress/prewwork-study-guide.git
[submodule "prewwork-study-guide"]
	path = prework-study-guide
	url = https://github.com/unnamedmistress/prewwork-study-guide.git
	branch = main
