[submodule "prework-study-guide"] 
  path = bootcamp/prework-study-guide 
  url = git://url-of-source https://github.com/unnamedmistress/prework-study-guide.git
[submodule "prework-study-guide"]
	path = prework-study-guide
	url = https://github.com/unnamedmistress/prework-study-guide.git
	branch = main
